<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://cdn.jsdelivr.net" />
  <link rel="dns-prefetch" href="https://v2.jinrishici.com" />
  <link rel="dns-prefetch" href="https://example.com" />
  <link rel="dns-prefetch" href="http://acme.sh" />
  <link rel="dns-prefetch" href="https://get.acme.sh" />
  <link rel="dns-prefetch" href="https://ruby-china.org" />
  <link rel="dns-prefetch" href="https://pic3.zhimg.com" />
  <link rel="dns-prefetch" href="https://pic2.zhimg.com" />
  <link rel="dns-prefetch" href="https://dl.gogs.io" />
  <link rel="dns-prefetch" href="http://www.example.com" />
  <link rel="dns-prefetch" href="https://blog.csdn.net" />
  <link rel="dns-prefetch" href="http://maven.apache.org" />
  <link rel="dns-prefetch" href="http://www.w3.org" />
  <link rel="dns-prefetch" href="https://nexus.corebrew.net" />
  <link rel="dns-prefetch" href="http://maven.aliyun.com" />
  <link rel="dns-prefetch" href="https://user-images.githubusercontent.com" />
  <link rel="dns-prefetch" href="https://github.com" />
  <link rel="dns-prefetch" href="http://cas.simple.org:8443" />
  <link rel="dns-prefetch" href="http://npm.taobao.org" />
  <link rel="dns-prefetch" href="https://baike.pcbaby.com.cn" />
  <link rel="dns-prefetch" href="https://segmentfault.com" />
  <link rel="dns-prefetch" href="https://map.baidu.com" />
  <link rel="dns-prefetch" href="http://mybatis.org" />
  <link rel="dns-prefetch" href="https://doc.traefik.io" />
  <link rel="dns-prefetch" href="https://acme-v02.api.letsencrypt.org" />
  <link rel="dns-prefetch" href="http://server.51cto.com" />
  <link rel="dns-prefetch" href="https://www.cnblogs.com" />
  <link rel="dns-prefetch" href="http://dl.stream.qqmusic.qq.com" />
  <link rel="dns-prefetch" href="https://imsun.github.io" />
  <link rel="dns-prefetch" href="https://www.jekyll.com.cn" />
  <link rel="dns-prefetch" href="https://yqwoe.space" />
  <link rel="dns-prefetch" href="https://rogeralmeida.github.io" />
  <link rel="dns-prefetch" href="https://developer.mozilla.org" />
  <link rel="dns-prefetch" href="https://dev.mysql.com" />
  <link rel="dns-prefetch" href="https://zhuanlan.zhihu.com" />
  <link rel="dns-prefetch" href="http://aplayer.js.org" />
  <link rel="dns-prefetch" href="https://api.i-meto.com" />
  <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
  <link rel="dns-prefetch" href="http://www.gnu.org" />
  <link rel="dns-prefetch" href="http://www.eclipse.org" />
  <link rel="dns-prefetch" href="http://engelschall.com" />
  <link rel="dns-prefetch" href="http://opensource.org" />
  <link rel="dns-prefetch" href="http://en.wikipedia.org" />
  <link rel="dns-prefetch" href="http://svgjs.com" />
  <link rel="dns-prefetch" href="http://www.codebase.es" />
  <link rel="dns-prefetch" href="http://stuartk.com" />
  <link rel="dns-prefetch" href="https://raw.github.com" />
  <link rel="dns-prefetch" href="https://MuazKhan.com" />
  <link rel="dns-prefetch" href="https://gist.github.com" />
  <link rel="dns-prefetch" href="http://goo.gl" />
  <link rel="dns-prefetch" href="https://www.webrtc-experiment.com" />
  <link rel="dns-prefetch" href="https://w3c.github.io" />
  <link rel="dns-prefetch" href="http://typedarray.org" />
  <link rel="dns-prefetch" href="http://stackoverflow.com" />
  <link rel="dns-prefetch" href="https://unpkg.com" />
  <link rel="dns-prefetch" href="https://stackoverflow.com" />
  <link rel="dns-prefetch" href="https://revealjs.com" />
  <link rel="dns-prefetch" href="https://static.slid.es" />
  <link rel="dns-prefetch" href="http://hakim.se" />
  <link rel="dns-prefetch" href="https://slides.com" />
  <link rel="dns-prefetch" href="https://highlightjs.org" />
  <link rel="dns-prefetch" href="http://lab.hakim.se" />
  <link rel="dns-prefetch" href="http://i.giphy.com" />
  <link rel="dns-prefetch" href="https://hakim.se" />
  <link rel="dns-prefetch" href="http://searchservervirtualization.techtarget.com" />
  <link rel="dns-prefetch" href="https://www.slideshare.net" />
  <link rel="dns-prefetch" href="http://meyerweb.com" />
  <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
  <link rel="dns-prefetch" href="http://github.com" />
  <link rel="dns-prefetch" href="https://draculatheme.com" />
  <link rel="dns-prefetch" href="http://owenversteeg.com" />
  <link rel="dns-prefetch" href="https://css-tricks.com" />
  <link rel="dns-prefetch" href="http://fullscreen.spec.whatwg.org" />
  <link rel="dns-prefetch" href="http://grigio.org" />
  <link rel="dns-prefetch" href="https://marked.js.org" />
  <link rel="dns-prefetch" href="https://aaronsmith.online" />
  <link rel="dns-prefetch" href="http://www.sketchdock.com" />
  <link rel="dns-prefetch" href="http://www.apache.org" />
  <link rel="dns-prefetch" href="https://jestjs.io" />
  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com" />
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% if (theme.rss){ %>
    <%- feed_tag(theme.rss, { type: 'rss' }) %>
  <% } %>
  <% if (theme.favicon.apple_touch_icon){ %>
    <link rel="apple-touch-icon" sizes="180x180" href="<%- theme.favicon.apple_touch_icon%>">
  <% } %>

  <% if (theme.favicon.medium){ %>
    <link rel="icon" type="image/png" sizes="32x32" href="<%- theme.favicon.medium%>">
    <% } %>

  <% if (theme.favicon.small){ %>
    <link rel="icon" type="image/png" sizes="32x32" href="<%- theme.favicon.small%>">
    <% } %>

  <% if (theme.favicon.safari_pinned_tab){ %>
    <link rel="mask-icon" href="{{ url_for(theme.favicon.safari_pinned_tab) }}" color="{{ theme.android_chrome_color }}">
    <% } %>

  <%- css('css/style') %>
  <%- css('css/search') %>
  <%- css('css/katex.min') %>
  <%- css('css/googleapis') %>
  <% if (theme.highlight){ %>
    <%- css('css/highlight') %>
  <% } %>
  <%- open_graph() -%>
  <%- css('css/reveal') %>
</head>
